
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" th:fragment="sidemenu">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="/index"><span>PLANNER</span></a>
                    </div>
                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle" href="/index">Home</a>
                    </li>

                    <li class="label">Calendars</li>
                    <li><a href="/calendar-week">Week calendar</a></li>
                    <li><a href="/calendar-week-friends">Friends calendar</a></li>


                    <li class="label">Apps</li>
                    <li><a href="/friendships/">Friends</a></li>
                    <li><a href="/calendar/activities">Activities</a></li>
                    <li><a href="/map">Map</a></li>


                    <li class="label">Extra</li>

                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/user/profile">View Profile</a></li>
                </ul>
            </div>
        </div>
    </div>

