<div th:fragment="sidemenu">
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="/index"><span>PLANNER</span></a>
                    </div>
                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Home</a>
                    </li>

                    <li class="label">Apps</li>
                    <li><a href="/calendar"><i class="ti-calendar"></i> Calender MONTH</a></li>
                    <li><a href="/calendar-week"><i class="ti-email"></i> Calendar WEEK</a></li>
                    <li><a href="/friendships/"><i class="ti-user"></i> Friends</a></li>
                    <li><a href="/calendar/activities"><i class="ti-layout-grid2-alt"></i> Add activities</a></li>





                    <li class="label">Extra</li>

                    <li><a href="/logout"><i class="ti-close"></i> Logout</a></li>
                    <li><a href="/user/profile"><i class="ti-close"></i>View Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
